.page_num{
    text-decoration: none;
    border: 1px solid rgb(167, 167, 167);
    padding: 7px;
    color: black;
    background-color: rgb(238, 238, 238);
}
.pagination{
    position: fixed;
    bottom: 0;
    left: 600px;
    display: inline-block;
    z-index: 1;
}

.page_chosen{
    text-decoration: none;
    border: 1px solid rgb(0, 149, 255);
    padding: 7px;
    color: white;
    background-color:rgb(0, 149, 255);
}
input[type = "text"]{
    width: 100%;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 3px;
}

.search-suggestions {
    position: absolute;
    background-color: white;
    width: calc(100% - 20px);
}

.search-suggestion-item {
    padding: 8px;
    text-decoration: none;
    display: flex;
    color: black;
    border: 1px solid #f1f1f1;
}

.search-suggestion-item:hover {
    background-color: #f1f1f1;
}
